@charset "UTF-8";
@import 'normal.css';

.wrapper{
    display: grid;
    grid-template-columns:repeat(3,2fr);
    /* grid-template-rows: repeat(3,150px); */
    grid-auto-rows: minmax(100px,auto);
    /* grid-auto-columns: ; */
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-gap: 20px;
    justify-items:stretch;
    align-items: stretch;
}
.wrapper div:first-child{
    justify-self: stretch;
    align-self: stretch;
    grid-column: 1/3;
    grid-row: 1/3;

}

.wrapper div:last-child{
    justify-self: stretch;
    align-self: stretch;
    grid-column: 1/4;
    grid-row: 6/8;

}
.light{
    background-color: aqua;
}


.wrapper div{
    border:1px dashed red;
}


div span{
    font-size: 34px;
    font-weight: bold;
}